# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [5]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [6]:
from sql_queries import song_table_insert

In [7]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [8]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [9]:
song_files = get_files('data/song_data')

In [10]:
filepath = 'data/song_data/A/A/A/TRAAAAW128F429D538.json'

In [11]:
df = pd.read_json('data/song_data/A/A/A/TRAAAAW128F429D538.json', lines = True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [12]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0].tolist()
song_data

['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [13]:
print(song_table_insert)

    insert into songs
    (
        song_id,
        title,        artist_id,
        year,
        duration
    ) values (%s, %s, %s, %s, %s) ON CONFLICT (song_id) DO NOTHING;

In [14]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [15]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0].tolist()
artist_data

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [16]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [17]:
log_files = get_files('data/log_data')
#log_files

In [18]:
filepath = '/home/workspace/data/log_data/2018/11/2018-11-30-events.json'

In [19]:
df = pd.read_json('/home/workspace/data/log_data/2018/11/2018-11-30-events.json', lines = True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [20]:
df = df[df['page'] == 'NextSong']
#df = df[df['sessionId'] == 829]
df.head(1)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91

In [21]:
t = pd.to_datetime(df.ts, unit='ms')
t.head()

0   2018-11-30 00:22:07.796
1   2018-11-30 01:08:41.796
2   2018-11-30 01:12:48.796
3   2018-11-30 01:17:05.796
4   2018-11-30 01:20:56.796
Name: ts, dtype: datetime64[ns]

In [22]:
time_data = list((t, t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.weekday))
column_labels = ("time_stamp", "hour", "day", "week", "month", "year", "weekday")

In [23]:
time_df = pd.DataFrame(dict(zip(column_labels, time_data)))
time_df.head()

               time_stamp  hour  day  week  month  year  weekday
0 2018-11-30 00:22:07.796     0   30    48     11  2018        4
1 2018-11-30 01:08:41.796     1   30    48     11  2018        4
2 2018-11-30 01:12:48.796     1   30    48     11  2018        4
3 2018-11-30 01:17:05.796     1   30    48     11  2018        4
4 2018-11-30 01:20:56.796     1   30    48     11  2018        4

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [24]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [25]:
user_df = df [['userId', 'firstName', 'lastName', 'gender', 'level']]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [26]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [27]:
#for index, row in df.iterrows():
#    print(index)
#    print(row)

In [32]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    #cur.execute(song_select, (row.song, row.artist, row.length))
    cur.execute(song_select, (row.song, row.artist))
    results = cur.fetchone()
    
    print(row.song)
    print(row.artist)
    print(row.length)
    print(results)
    print("\n")
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

   # insert songplay record
    
    # songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent
    #songplay_data = (index, pd.to_datetime(row.ts, unit='ms'), row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    # since songplay_id is a serial field, passing it as a DEFAULt value from here as it will be autogenerated.
    songplay_data = (index, pd.to_datetime(row.ts, unit='ms'), row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Jim Henson's Dead
Stephen Lynch
182.85669
None


Shell Shock
Manowar
247.562
None


Women Lose Weight (Feat: Slick Rick)
Morcheeba
257.41016
None


Won't Go Home Without You
Maroon 5
231.23546
None


Hey_ Soul Sister
Train
216.76363
None


I'm In Miami Bitch
LMFAO
227.99628
None


Sexy Bitch
DJ Dizzy
221.1522
None


The Cure & The Cause (Dennis Ferrer Remix)
Fish Go Deep & Tracey K
377.41669
None


Staring At Me
M83
96.1824
None


The Second You Sleep
Saybia
257.25342
None


Wide Eyes
Local Natives
266.05669
None


La Resistance (Medley) (LP Version)
South Park
112.97914
None


Restless
UNKLE Feat. Josh Homme
307.19955
None


Noc...
Justyna Steczkowska
333.53098
None


Like You
Evanescence
256.91383
None


God Put A Smile Upon Your Face
Coldplay
297.35138
None


Playboy
Hot Chip
333.50485
None


Every Time You Go
Ellie Goulding
205.06077
None


Natural Anthem (Album)
Postal Service
307.53914
None


Taylor
Jack Johnson
240.06485
None


Naked As We Can
Iron And Wine
153.05098
None


Fantasy
The xx
158.24934
None


Epilogue
The Antlers
328.88118
None


Groovin'
Fattburger
217.20771
None


Ain't No Way (You Won't Love Me)
Chris Brown
203.80689
None


Rome
Phoenix
278.07302
None


Highway Through My Home
Jim Lauderdale/Ralph Stanley & The Clinch Mountain Boys
127.05914
None


143
Musiq
297.84771
None


Dreams-Come-True-Girl
Cass McCombs feat. Karen Black
322.06322
None


I Don't Feel Like Dancin'
Scissor Sisters
352.522
None


Right On Time (Album Version)
O.A.R.
315.74159
None


Black Lines
1 Mile North
352.73098
None


Uprising
Muse
304.84853
None


Man Makes The Zoo
USS (Ubiquitous Synergy Seeker)
307.61751
None


Blacks/Radio
The Psychedelic Furs
417.07057
None


Love Dealer (Featuring Justin Timberlake)
EsmÃÂ©e Denters / Justin Timberlake
227.52608
None


ReprÃÂ©sente
Alliance Ethnik
252.21179
None


Hey_ Soul Sister
Train
216.76363
None


Up And Gone
Hoobastank
202.57914
None


Te Conoci
Ismael Serrano
179.35628
None


Bottle Pop
The Pussycat Dolls / Snoop Dogg
210.31138
None


My Love Will Follow You
Dierks Bentley
198.63465
None


Found Home
59 Times the Pain
144.95302
None


My December
Linkin Park
259.86567
None


The Perfect Kiss
New Order
288.05179
None


You're Gonna Make Me Lonesome When You Go
Madeleine Peyroux
206.18404
None


Shortie Like Mine
Bow Wow feat. Chris Brown and JohntÃÂ¡ Austin
268.06812
None


Domination
Symphony X
389.45914
None


Inside My Love (Digitally Remastered 93)
Minnie Riperton
238.73261
None


Structure
Custom Blue
346.51383
None


Killing In The Name
Rage Against The Machine
314.40934
None


Girl You Know It's True
Milli Vanilli
197.92934
None


Waterfall (Spirit Of The Rainforest Album Version)
David Arkenstone
363.41506
None


Robot Soul (Radio Edit)
Cosmo Vitelli
206.05342
None


Blindfold
Morcheeba
277.4722
None


I'm Yours (Album Version)
Jason Mraz
243.48689
None


Say Hello
Deep Dish
274.28526
None


(I Just) Died In Your Arms
Cutting Crew
263.07873
None


Sweet Jane
The Velvet Underground
240.66567
None


Gears
Future Rock
239.90812
None


Seven Nation Army (Album Version)
The White Stripes
231.81016
None


Fix You
Coldplay
294.1122
None


It Could Be Sweet
Portishead
259.99628
None


If This Was The Last Song
Thelma Houston
196.51873
None


Poppiholla
Chicane
223.92118
None


The Unforgiven III
Metallica
466.54649
None


Apresurate
Jennifer Lopez
301.34812
None


There Is
Box Car Racer
196.93669
None


Would That Make U Love Me
Robin Thicke
216.68526
None


Screaming Infidelities
Dashboard Confessional
226.29832
None


Big Idea
Radney Foster
205.84444
None


Bulletproof
La Roux
205.60934
None


The Tune
Wax Tailor
177.68444
None


Trani
Kings Of Leon
300.56444
None


Girl Money
Kix
246.25587
None


Chloe Dancer/Crown Of Thorns
Mother Love Bone
495.72526
None


The Bachelor and the Bride
The Decemberists
252.81261
None


M
Telefon Tel Aviv
222.09261
None


Nothin' On You [feat. Bruno Mars] (Album Version)
B.o.B
269.63546
None


You Sent Me Flying / Cherry
Amy Winehouse
409.96526
None


Faithless
BEFORE THE DAWN
195.65669
None


You Only Live Once
The Strokes
187.34975
None


Tempting Time
Animals As Leaders
323.83955
None


Flowers In December
Mazzy Star
297.9522
None


Take It Back
Cream
185.44281
None


Behind Two Hills&A Swimming Pool
MÃÂºm
68.67546
None


My First Kiss (Feat. Ke$ha) [Album Version]
3OH!3
192.522
None


Straight Outta Compton (Extended Mix) (Edit) (Explicit)
N.W.A.
266.26567
None


Goin' Home
Dan Auerbach
296.95955
None


Sick
Lagwagon
173.322
None


Fix You
Coldplay
294.1122
None


Half Of My Heart
John Mayer
250.38322
None


Revelry
Kings Of Leon
201.79546
None


World Coming Down
Ashbury Heights
198.60853
None


Fire
Scooter
213.02812
None


Shoot Me Down
Boy Kill Boy
220.47302
None


Juice (Know The Ledge)
Eric B. & Rakim
241.60608
None


Hymne A L'Amour (Album Version)
Josh Groban
243.40853
None


We're Only Gonna Die (Album Version)
Bad Religion
131.86567
None


Next Hype
Tempa T
236.35546
None


Fireflies
Charttraxx Karaoke
225.17506
None


Hotel California
Eagles
372.29669
None


Little Wing
Eric Clapton
409.57342
None


Smothered (Album Version)
Spineshank
187.6371
None


Try Your Best
Kaiser Chiefs
221.07383
None


Le Courage Des Oiseaux
Dominique A
153.20771
None


Lips Like Morphine (Album Version)
Kill Hannah
224.49587
None


Kiedys zrozumiesz
I:gor
190.27546
None


Fallin' Apart
The All-American Rejects
206.96771
None


Don't Cry (Original)
Guns N' Roses
284.05506
None


Transparency
White Denim
148.55791
None


La Suerte De Mi Vida
El Canto del Loco
226.0371
None


Redwing
Grinderswitch
268.2771
None


Starfish-On-The-Toast (2008 Digital Remaster)
Donovan
169.22077
None


Illusions
As I Lay Dying
348.1073
None


Bright Lights (Remastered Version)
matchbox twenty
241.34485
None


Field Goal
Kinky
105.32526
None


Nah!
Shania Twain
250.51383
None


By The Way
Hinder
231.73179
None


Keep On Running
The Spencer Davis Group
165.27628
None


I Dont Wanna Wait
SOJA
355.89179
None


Echonomix
Infected Mushroom
463.72526
None


One By One
Unkle Bob
160.10404
None


Sin Miedo a Nada (con Amaia Montero)
Alex Ubago
313.28608
None


Bonnie Brae
The Twilight Singers
286.53669
None


War
Chikita Violenta
255.92118
None


Sad Lisa
Cat Stevens
225.17506
None


The House That Nat Built (Album Version)
Kenny Garrett
265.19465
None


Jealous Minds Think Alike
You Me At Six
216.68526
None


My Mother's Eyes
Nellie Lutcher
195.70893
None


Make Her Say
Kid Cudi / Kanye West / Common
237.76608
None


Viaje Sin Rumbo (2004 Digital Remaster)
Tiro De Gracia
214.83057
None


Dreamdancer
polarkreis 18
265.29914
None


The Queen of Nothing
+ / - {Plus/Minus}
318.98077
None


Riot In Cell Block Number Nine
Dr Feelgood
216.13669
None


Sehr kosmisch
Harmonia
655.77751
None


Everything You Love (Album Version)
Chimaira
377.36444
None


Someone Else's Life
Joshua Radin
211.27791
None


Godine prolaze
Bajaga & Instruktori
254.95465
None


Private Affair (Amended Album Version)
The Virgins
169.37751
None


Ginko Biloba
SA Rawls / Still Flyin' / Still Flyin'
183.09179
None


Three Day Weekend
Grown Ups
233.42975
None


Meen Dah Elly Nseik
Nancy Ajram
221.67465
None


Boot On The Seat
The Donkeys
272.19546
None


FaFaFa (Radio Edit)
Datarock
228.49261
None


Human After All
Daft Punk
319.42485
None


Somebody To Love
Justin Bieber
220.89098
None


Real Love
Beach House
320.44363
None


Subterranean Homesick Blues (Album Version)
The Walkmen
199.36608
None


Can't Break Thru
Busted / Charlie Simpson / Mattie Jay / James Bourne
252.83873
None


Get Me Bodied
BeyoncÃÂ©
374.59546
None


Maybe
Sick Puppies
209.44934
None


Walk To The Water
U2
289.2273
None


I CAN'T GET STARTED
Ron Carter
497.13587
None


Breath After Breath
Duran Duran
297.63873
None


Head Over Heels
Tears For Fears
255.34649
None


Lonely As You
Foo Fighters
277.10649
None


One Year_ Six Months
Yellowcard
208.79628
None


Against The Wall
Big Tymers
252.05506
None


Knocking On Forbidden Doors
Enigma
262.71302
None


Hey Hey
Dennis Ferrer
209.162
None


Somebody To Love
Justin Bieber
220.89098
None


Genom tunna tyger
Markus KrunegÃÂ¥rd
185.5473
None


The Little Things Give You Away [Live At Milton Keynes]
Linkin Park
439.562
None


Devil May Care
Jamie Cullum
204.25098
None


Tell Me I'm A Wreck
Every Avenue
219.95057
None


Constellations
Jack Johnson
201.63873
None


Vuelve
Shakira
233.87383
None


Give Me Anything
The Maine
189.59628
None


Worm Infested
Cannibal Corpse
209.00526
None


Headlights Look Like Diamonds
Arcade Fire
267.80689
None


Hands Up
Black Eyed Peas
215.7971
None


Sweet And Wild
Radney Foster
288.96608
None


Satellite Mind
Metric
222.85016
None


You're The One
Dwight Yoakam
239.3073
None


Did You Get My Message? (Live From Montalvo)
Jason Mraz
266.63138
None


N A Whitemanzeyez
Kutt Calhoun
307.51302
None


Karma Police
Radiohead
261.45914
None


Puto
Molotov
127.37261
None


Killing Lies
The Strokes
230.1122
None


Hallelujah
Rufus Wainwright
249.62567
None


Ghosts 'n' Stuff (Original Instrumental Mix)
Deadmau5
374.20363
None


You're The Voice
John Farnham
300.72118
None


Inside Of You
Infant Sorrow
170.16118
None


Clean Up Woman (Single/LP Version)
Betty Wright
164.85832
None


Tranen Gelachen
Guus Meeuwis
198.42567
None


The Small Print
Muse
209.00526
None


A QuÃÂ© Niegas El Delirio (MalagueÃÂ±a) (Live)
Estrella Morente
135.70567
None


It's My Life (Radio Edit)
Dr. Alban
240.14322
None


Sit Down. Stand Up
Radiohead
260.0224
None


Purple Weed
Mondo Marcio
263.60118
None


Someone Else's Arms
Mae
309.15873
None


The Future Ain't What It Used To Be
Meat Loaf / Jennifer Hudson
474.01751
None


A-Punk (Album)
Vampire Weekend
137.82159
None


Time To Pretend
MGMT
264.17587
None


Luna y Sol
Federico Aubele
213.65506
None


Touch My Horn
Jesse Rose
313.15546
None


Eternity
Orion
292.70159
None


Dyed in the Wool (Album Version)
Circa Survive
298.70975
None


Wretchrospective (feat. Vis)
Wretch 32_ Vis
243.35628
None


Simple
Simian Mobile Disco
354.61179
None


Riecht wie Teen Spirit (Smells Like Teen Spirit)
ErdmÃÂ¶bel
289.25342
None


Adrenalin
Eisbrecher
241.89342
None


Bread & Water
Ryan Bingham
247.30077
None


VooDoo
Ashanti
282.46159
None


Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)
Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner
277.15873
None


Frankie's Office
Clint Eastwood
65.25342
None


Fireflies
Charttraxx Karaoke
225.17506
None


Summer Breeze
Jason Mraz
264.69832
None


Love Shack
The B-52's
321.54077
None


Alexandra
Aventura
242.1024
None


Canada
Five Iron Frenzy
236.09424
None


Anthem For The Underdog
12 Stones
184.0322
None


Revelry
Kings Of Leon
201.79546
None


Get Ready To Bounce Recall 08
Brooklyn Bounce
359.13098
None


The Good Fight
Dashboard Confessional
147.30404
None


Low Land Moan
Lonnie Johnson
194.55955
None


In
Leggo Beast
376.58077
None


Sway
The Pussycat Dolls
190.95465
None


I Miss You Now
Stereophonics
290.53342
None


Masculine Eclipse
The Beautiful South
236.5122
None


As If Set Afire
The Acacia Strain
194.21995
None


Underwater World
ATB
251.48036
None


Our Last Time
The Robert Cray Band
309.52444
None


T.N.T. For The Brain (112 Bpm) (Radio Edit)
Enigma
242.78159
None


Tattered Banners And Bloody Flags
Amon Amarth
268.2771
None


The Great Escape (Album Version) (Explicit)
We Are Scientists
198.89587
None


Lacreme napulitane
Roberto Murolo
188.02893
None


Autobiography
Ashlee Simpson
214.43873
None


The Ecstasy Of Gold
Metallica
152.60689
None


Kryptonite
3 Doors Down
233.74322
None


No Fool (For Love)
Hazell Dean
367.98649
None


Pray
Apocalyptica
262.5824
None


Bubble Toes
Jack Johnson
236.93016
None


Lotus
Cage The Elephant
196.38812
None


You Belong With Me
Taylor Swift
230.47791
None


Candy Rain
Soul For Real
271.25506
None


Firestarter
The Prodigy
225.09669
None


Addicted
Amy Winehouse
165.11955
None


The Evil That Men Do (1998 Digital Remaster)
Iron Maiden
275.19955
None


All Around Me
David Crowder*Band
276.74077
None


Everyday
The Cinematic Orchestra
622.2624
None


Feel It
Three 6 Mafia vs. TiÃÂ«sto with Sean Kingston and Flo Rida
241.05751
None


Overload
Sugababes
275.93098
None


Hold You
Gyptian
233.09016
None


The Way She Moves
Zion / Akon
233.19465
None


I Want Your Love
Transvision Vamp
209.91955
None


Corrido de Boxeo
Ry Cooder
201.56036
None


When I Grow Up
The Pussycat Dolls
245.18485
None


Yellow
Coldplay
268.30322
None


She Likes (Bittersweet Love)
Forever The Sickest Kids
169.482
None


Believe That
Lil Wayne / Blaque / Mannie Fresh
255.34649
None


Through The Fire And Flames (Album Version)
Dragonforce
441.02485
None


Lucky (Album Version)
Jason Mraz & Colbie Caillat
189.6224
None


Is She Weird
Pixies
181.13261
None


Without Me
Eminem
251.55873
None


Cry No More
Buju Banton
232.48934
None


Lotus
Cage The Elephant
196.38812
None


Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)
Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner
277.15873
None


Le Million
Ste Strausz
285.36118
None


Only Superstition
Coldplay
228.62322
None


Bedroom Suite
Joe Christmas
185.7824
None


A New Arrangement
Bright Eyes
313.23383
None


The Only Exception (Album Version)
Paramore
267.65016
None


Sinisten tÃÂ¤htien alla
J. Karjalainen & Mustat Lasit
336.74404
None


Knee 2
Philip Glass
368.40444
None


SinceritÃÂ© Et Jalousie
Alliance Ethnik
195.94404
None


Her Voice Is Beyond Her Years
Mew
167.75791
None


If You Leave Me Now
Ive Mendes
238.94159
None


SinceritÃÂ© Et Jalousie
Alliance Ethnik
195.94404
None


Diamond Dave
the bird and the bee
193.802
None


1999
Common / Sadat X
256.20853
None


King Of Pain (Live/Unplugged Version)
Alanis Morissette
245.15873
None


Rebirthing (Album Version)
Skillet
233.32526
None


Beauty and the Beast
James Galway;Julian Lee
218.67057
None


Dressed For Friend Requests (Album Version)
Drop Dead_ Gorgeous
156.70812
None


You're The One
Dwight Yoakam
239.3073
None


Tuesday's Child
Trouble
205.11302
None


All The Right Moves
OneRepublic
237.97506
None


Wicked
Switchblade Symphony
259.5522
None


My Distressor 40Khz ReRub Mix
Sharooz
234.05669
None


Six Days At The Bottom Of The Ocean
Explosions In The Sky
522.9971
None


Little Bird
Emmylou Harris
194.63791
None


The Horizon Has Been Defeated
Jack Johnson
153.67791
None


Everything In Its Right Place
Radiohead
249.93914
None


Heretics
Andrew Bird
215.87546
None


Sabbra Cadabra
Metallica
380.21179
None


Catch You Baby (Steve Pitron & Max Sanna Radio Edit)
Lonnie Gordon
181.21098
None


Shattered
Dropkick Murphys
167.73179
None


As The Rhyme Goes On
Eric B. & Rakim
240.32608
None


Settle For A Slowdown
Dierks Bentley
223.242
None


Daniel Cowman
Regina Spektor
290.14159
None


Make You Sin
Angelspit
241.94567
None


Roc U
Young Gunz / Beanie Sigel
292.44036
None


Sexy Bitch
DJ Dizzy
221.1522
None


Sayonara-Nostalgia
Base Ball Bear
255.60771
None


In The Hands Of The Gods (Featuring Biz Markie)
Morcheeba
101.95546
None


Don't Forget To Breathe
Bitter:Sweet
194.16771
None


Now You're Gone
Basshunter Feat. DJ Mental Theos Bazzheadz
152.65914
None


Undo
BjÃÂ¶rk
348.57751
None


G4L
Rihanna
239.75138
None


Hello
Evanescence
220.3424
None


Tamale
Mr. Vegas
240.69179
None


Another Place
Mischa Daniels
419.81342
None


Straight To Hell
The Menzingers
276.00934
None


Cry Me A River
Justin Timberlake
288.93995
None


Un Camino Hasta Vos
Vilma Palma e Vampiros
338.18077
None


Sura (2008 Digital Remaster)
CCCP - Fedeli Alla Linea
329.66485
None


Pursuit Of Happiness (nightmare)
Kid Cudi / MGMT / Ratatat
295.67955
None


Forever
Drake / Kanye West / Lil Wayne / Eminem
357.66812
None


Homesick [Acoustic]
A Day To Remember
247.64036
None


Dead And Gone [feat. Justin Timberlake] (Explicit Album Version)
T.I.
299.75465
None


It'll Be a Long Time (Album Version)
The Offspring
163.3171
None


Esta Es Para Hacerte FÃÂ©liz
Jorge Gonzalez
272.14322
None


Spin Spin Sugar
Sneaker Pimps
260.91057
None


This War Is Ours (The Guillotine II)
Escape The Fate
266.73587
None


La Vida Es Un Ratico
Juanes
243.27791
None


Never Mind
The Replacements
170.57914
None


Possession
Sarah McLachlan
278.90893
None


Don't Start Me Talkin'
Sonny Boy Williamson
152.24118
None


Back To Life (However Do You Want Me) (2003 Digital Remaster) (Feat. Caron Wheeler)
Soul II Soul Featuring Caron Wheeler
225.2273
None


Dog Days Are Over (Radio Edit)
Florence + The Machine
219.66322
None


Heresy  (LP Version)
Pantera
286.69342
None


Remedy
Cold
177.76281
None


Frozen Angel
Norther
246.54322
None


The Pretender
Foo Fighters
271.38567
None


Besos De Ceniza
Timbiriche
202.60526
None


Rose
A Perfect Circle
206.05342
None


The Haunting
Anberlin
348.682
None


Anything You Say (Unreleased Version)
Deas Vail
237.68771
None

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [25]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.